/*!  This file in this program is included in minified and unminified versions, both located in the same directory.
Access unminified version by replacing the .min.css extension with .css  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/* Animation for rotating images */
@keyframes wpz_ai_images_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
#adminmenu .toplevel_page_wpz-ai-images .wp-menu-image::before {
  content: "";
  background-image: url(../img/wp-zone-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#wpbody .wpz-ai-images-page-title-action {
  vertical-align: baseline;
  position: relative;
  top: -3px;
  min-height: auto;
  line-height: 1;
  display: inline;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

/* Notice styling */
.wpz-aiilg-notice {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.0509803922);
  border-radius: 11px;
  padding: 20px;
  column-gap: 20px;
  margin-bottom: 20px;
  /* Loading and uploading notice styles */
  /* Loading state styles */
  /* Uploading state styles */
  /* Notice logo animation */
}
.wpz-aiilg-notice .wpz-aiilg-notice-loading,
.wpz-aiilg-notice .wpz-aiilg-notice-uploading {
  display: none;
  text-align: left;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0;
  color: #3a3a3a;
}
.wpz-aiilg-notice.wpz-aiilg-loading {
  display: flex !important;
}
.wpz-aiilg-notice.wpz-aiilg-loading .wpz-aiilg-notice-loading {
  display: block;
}
.wpz-aiilg-notice.wpz-aiilg-uploading {
  display: flex !important;
}
.wpz-aiilg-notice.wpz-aiilg-uploading .wpz-aiilg-notice-uploading {
  display: block;
}
.wpz-aiilg-notice .wpz-aiilg-notice-logo {
  animation: wpz_ai_images_rotation 2s infinite ease;
  width: 36px;
  height: 36px;
}

.wpz-ai-images-free.wp-block-wpz-aiil-image .wpz-aiilg-preview-image-wrapper:hover:after {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.7294117647);
  border-radius: 5px;
  padding: 10px;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  content: "Downloaded files will not contain visible watermarks";
  z-index: 999;
}

.wpz-aiilg-preview-image-wrapper {
  position: relative;
  display: inline-block;
}

.wpz-aiilg-regenerate-warning {
  margin-bottom: 15px;
}

.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-links {
  line-height: 1.6em;
}
.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-links h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaedef;
}
.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-links ul a {
  color: #3a3a3a;
  text-decoration: none;
}
.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-use-plugin {
  line-height: 1.6em;
}
.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-use-plugin ul {
  list-style: disc;
  list-style-position: inside;
}
.wp-block-wpz-aiil-image-mi .wp-block-wpz-aiil-image-mi-wrapper {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 11px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.0509803922);
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade {
  padding: 35px 20px;
  color: #fff;
  background-color: #6a39e4;
  border-radius: 11px;
  margin-bottom: 15px;
  font-family: "Montserrat";
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade img {
  max-width: 260px;
  display: block;
  margin-bottom: 25px;
  width: 100%;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade ul {
  list-style: none;
  padding-left: 25px !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade ul li {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  text-indent: 0;
  line-height: 1.6em;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade ul li strong {
  color: #fd925c;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade ul li:before {
  content: url("../img/check-orange.svg");
  display: inline-block;
  position: absolute;
  left: -25px;
  top: 0;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary {
  display: block;
  width: 100%;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade a {
  color: #fff;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary {
  line-height: 1.4;
  cursor: pointer;
  height: auto !important;
  min-height: auto !important;
  outline: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 29px;
  border: 1px solid;
  box-shadow: none !important;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px !important;
  min-width: 120px;
  color: #FFF !important;
  background-color: #FD925C !important;
  border-color: #FD925C !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary:focus {
  box-shadow: none;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary[disabled] {
  cursor: not-allowed;
  color: #8f8e8f !important;
  background: #E7EAEC !important;
  border-color: #E7EAEC !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary[disabled]:hover {
  color: #8f8e8f !important;
  background: #E7EAEC !important;
  border-color: #E7EAEC !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary:hover {
  padding: 10px 20px !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary:focus {
  color: #fff !important;
  background-color: #FD925C !important;
  border-color: #FD925C !important;
}
.wp-block-wpz-aiil-image-mi #aiil-banner-upgrade .wpz-ai-image-lab-button-primary:hover {
  color: #fff;
  background-color: #FD925C !important;
  border-color: #FD925C !important;
}

/*# sourceMappingURL=wp-styles.css.map */
