.wpz-ai-image-lab-notice {
  padding          : 15px 10px;
  background-color : #e9edef;
  border-radius    : 11px;
  display          : flex;
  align-items      : center;
  gap              : 20px;
  text-align       : left;
  margin-bottom    : 15px;
  box-shadow       : 0 0 20px rgba(0, 0, 0, 0.05);
  font-size        : 12px;

  img {
    width  : 30px;
    height : 30px;
    }

  a {
    color : $color_orange !important
    }

  &.wpz-ai-image-lab-notice-error {
    background-color : #f35252;
    color            : #fff;

    a {
      color       : #fff !important;
      font-weight : 800;
      }

    }
  }

// Specific notifications

.wpz-ai-images-quota-notice {
  display: none;
  }

.wpz-ai-images-free .wpz-ai-images-quota-notice {
  display: block;
  }

.wpz-ai-images-quota-notice span.wpz-ai-images-quota-notice-number {
  font-weight : 600;
  color       : $color_orange
  }

.wpz-ai-images-quota-empty-notice {
  margin : 10px 15px !important;
  }